apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base

patches:
  - path: patch-env.yaml

# Patches for dev-specific overrides (optional for now)
# patches:
#   - path: patch-env.yaml
